{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Maquina </title>
    <link rel="stylesheet" href="{% static 'app_maquina/style/style.css' %}?v=1.0" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Poppins:wght@300&display=swap');
    </style>
</head>
<body>
    <div class="page">
        <div class="logo">
            <img src="{% static 'app_maquina/images/Logo_Gees.png' %}" alt="Descrição da Imagem">
        </div>

        <form action="{% url 'cadastrar_maquina' %}" method="POST" id="my-form"> {% csrf_token %}
            <fieldset>
                <div class="fieldset-wrapper">
                    <legend> Cadastrar Máquina </legend>

                        <div class="input-wrapper">
                            <label for="event-title">Nome <span>mínimo de 8 caracteres</span></label>
                            <input type="text" name="input_nome" id="event-title" required minlength="0" placeholder="DIgite o nome"  />
                        </div>   

                        <div class="input-wrapper">
                            <label for="event-title">Nº de Série <span>mínimo de 8 caracteres</span></label>
                            <input type="text" name="input_numero_serie" id="event-title" required minlength="0"  />
                        </div>

                        <div class="input-wrapper">
                            <label for="event-title">Modelo <span>mínimo de 8 caracteres</span></label>
                            <input type="text" name="input_modelo" id="event-title" required minlength="0"  />
                        </div>

                        <div class="input-wrapper">
                            <label for="event-title">Fabricante <span>mínimo de 8 caracteres</span></label>
                            <input type="text" name="input_fabricante" id="event-title" required minlength="0"  />
                        </div>

                        <div class="input-wrapper">
                            <label for="event-title">Horímetro Atual <span>mínimo de 8 caracteres</span></label>
                            <input type="number" name="input_horimetro_atual" id="event-title" required minlength="0"  />
                        </div>

                        <div class="input-wrapper">
                            <label for="event-title">Categoria <span>mínimo de 8 caracteres</span></label>
                            <input type="text" name="input_Categoria" id="event-title" required minlength="0"  />
                        </div>

                        <div class="input-wrapper">
                            <label for="event-title">Tipo <span>mínimo de 8 caracteres</span></label>
                            <input type="text" name="input_tipo" id="event-title" required minlength="0"  />
                        </div>

                        <div class="input-wrapper">
                            <label for="event-title">Última manutenção do horímetro  <span>mínimo de 8 caracteres</span></label>
                            <input type="text" name="input_ultima_manutencao_horimetro" id="event-title" required minlength="0"  />
                        </div>

                        <div class="input-wrapper">
                            <label for="event-title">Data última manutenção do horímetro  <span>mínimo de 8 caracteres</span></label>
                            <input type="date" name="input_data" id="event-title" required minlength="0" />
                        </div>
                        <footer>
                            <input type="submit" value = "Cadastrar Maquina" class="button" />
                        </footer>
                </div>
            </fieldset>
        </form>
    </div>
    
</body>
</html>